<div class="container d-flex justify-content-between">
  <div class="logo">
    <h1><a href="{% url "index" %}"><span>DJ</span>Flix</a></h1>
    
  </div>
    <nav id="navbar" class="navbar">
        <li><a class="nav-link scrollto" href="{% url "index" %}">Inicio</a></li>
        <!--<li><a class="nav-link scrollto" href="{% url "Peliculas" %}">Peliculas</a></li>-->
        <!--<li><a class="nav-link scrollto" href="{% url "series" %}">Series</a></li>-->
        
        <!--<li><a class="nav-link scrollto" href="{% url "alta_suscriptor" %}" style="margin-right: 30px">Reg Suscriptor</a></li>-->
        <li><a class="nav-link scrollto" href="{% url "Precios" %}">Precios</a></li>
        <li><a class="nav-link scrollto" href="{% url "Contacto" %}">Contacto</a></li>
      </ul>
      
{% if user.is_authenticated %}
  <li><a class="nav-link scrollto" href="{% url "Peliculas" %}">Peliculas</a></li>
  <li><a class="nav-link scrollto" href="{% url "series" %}">Series</a></li>
  {% if user.is_staff %}
    <li><a class="nav-link scrollto" href="{% url "administracion" %}">Administracion</a></li>
    <li><a class="nav-link scrollto" href="{% url "admin:index" %}">Admin Django</a></li>
  {% endif %}
    <p style="display: inline; color: white;">Bienvenido/a, <b><u>{{ user.username }}</u></b></p>
    <a href="{% url 'logout' %}" class="btn btn-outline-primary me-2">Logout</a>
{% else %}
    <a href="{% url 'login' %}" class="btn btn-outline-primary " style="padding-right: 30px;" >Iniciar sesión</a>
    <a href="{% url 'register' %}" class="btn btn-outline-primary" style="padding-right: 30px;" >Registrar usuario </a>
{% endif %}


    </nav>

  </div>