{% extends "base.html" %}
{% load static %}

<main>

  {% block content%}
     <!-- ======= icon Section ======= -->
<div id="contact" class="contact-area">
  <div class="contact-inner area-padding">
    <div class="contact-overly"></div>
    <div class="container ">
      
      <div class="row">
        <!-- Start contact icon column -->
        <div class="col-md-4">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="bi bi-phone"></i>
              <p>
                <span>{% if es_suscriptor %}
                  <p> <strong>Tu rol es:</strong> suscriptor </p>
                 
                  {% else %}
                  <p> Tu rol es: administrador </p>
                  {% endif %}</span>
                  <span>{% if usuario_conectado %}
                    <p> <strong>Bienvenido:</strong> {{nombre_usuario}} </p>
                   
                    {% else %}
                    <p> Tu rol es: administrador </p>
                    {% endif %}</span>
              </p>
            </div>
          </div>
        </div>
        <!-- Start contact icon column -->
        <div class="col-md-4">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="bi bi-calendar"></i>
              <p>
                Tus favoritos<br>
              </p>
            </div>
          </div>
        </div>
        <!-- Start contact icon column -->
        <div class="col-md-4">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="bi bi-geo-alt"></i>
              <p>
                Ubicacion: Buenos Aires, Argentina<br>
              </p>
            </div>
          </div>
        </div>
      </div>

<!-- START GALERIA DE series DISPONIBLES POR CATEGORIA-->
<div class="row justify-content-center">
  {% for serie in series %}
  <div class="card w-25" style="text-align:Left;">
    <div  style="text-align: left">
      <h5 class="card-title">{{ serie.nombre | upper }}</h5>
      <p class="card-text"><img class="pelis-zoom" src="{{ serie.portada }}" width="200"></p>
      <p class="card-text"><strong> Categoría: </strong>{{ serie.categoria }}</p>
      <p class="card-text"><strong> Descripción: </strong>{{ serie.descripcion }}</p>
 


      <strong> Capítulos: </strong>
      <div>
        <table style="padding: 8px">
        <ol>
          {% for capitulo in serie.capitulos%}
          <tr>
            <td><p class="card w-25" style="text-align:Left;""><img class="pelis-zoom" src="{% get_static_prefix %}img/peliculas/{{capitulo.imagen}}"></p></td>
            <td><li><strong>{{capitulo.nombre}}</strong><p>Duración:{{capitulo.duracion}} min.</li></td>
          </tr>
          {% endfor %}
        </ol>

        <form action = "{% url "detallepelicula" %}">
          <button class="btn-get-started scrollto animate__animated animate__fadeInUp">
              Ver ahora
          </button>
      </form>
        </table>

       
      </div>
    </div>
  </div>
  {% empty %}
  <p> No hay series disponibles </p>
  {% endfor %}
</div>





{%endblock%}
       
    <!-- END GALERIA DE series -->
   </main>
  
   
</body>
</html>