<!doctype html>
<html lang="en">

{% load static %}

<head>
    <title>Panel de Administracion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'administracion/estilos.css' %}">

</head>

<body>
    <header id="headerid"></header>
    <main>

        <div class="logobox">
            <a style="text-decoration:none;" href="{% url "administracion" %}"><h1 style="color:white;"> DJFlix Administrador</h1></a>
        </div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Listados
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url "listado_categorias" %}">Categorias</a></li>
                            <li><a class="dropdown-item" href="{% url "listado_peliculas" %}">Peliculas</a></li>
                            <li><a class="dropdown-item" href="{% url "serie_lista" %}">Series</a></li>
                            <li><a class="dropdown-item" href="{% url "listado_suscriptores" %}">Suscriptores</a></li>

                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Añadir nuevo
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url "create_categoria" %}">Categoría</a></li>
                            <li><a class="dropdown-item" href="{% url "create_pelicula" %}">Pelicula</a></li>
                            <li><a class="dropdown-item" href="{% url "serie_crear" %}">Serie</a></li>
                            <li><a class="dropdown-item" href="{% url "alta_suscriptor" %}">Suscriptor</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href={% url "index" %}>Volver a DJFlix </a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success" type="submit">Busqueda</button>
                </form>
            </div>
        </div>
        
        </nav>

        {% block content%}

        
        {% endblock%}
       

    
    </main>
    <!-- Enlace de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
    <script src="./js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Enlace de VUE-->
    
</body>

</html>