{% extends "administracion/base_admin.html" %}

{% block content%}

        <div id="app" class="table-results">
            <table class="table">
                <h2 class="text-center">Panel de administración</h2>
                
<h3> Listas </h3>
                <ul >
                    <li><a style="color:black" href="{% url "listado_categorias" %}">Categorias</a></li>
                    <li><a style="color:black" href="{% url "listado_peliculas" %}">Peliculas</a></li>
                    <li><a  style="color:black" href="{% url "serie_lista" %}">Series</a></li>
                    <li><a  style="color:black" href="{% url "listado_suscriptores" %}">Suscriptores</a></li>

                </ul>
                <hr>
               
            
                        </div>
{% endblock%}