{% extends "administracion/base_admin.html" %}

{% block content%}

        <div id="app" class="table-results">
            <table class="table">
                <h2 class="text-center">Panel de administración</h2>
                
                <hr>
               
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <h4> Listado de Suscriptores</h4>
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nombre y Apellido</th>
                                        <th scope="col">DNI</th>
                                        <th scope="col">Email </th>
                                        <th scope="col">Fecha inicio </th>
                                        <th scope="col">Fecha baja</th>
                                        <th scope="col">Acciones</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Iterar sobre cada producto -->
                                    <tr >
                                        {% for suscriptor in suscriptores %}
                                        <td >{{suscriptor.id}}</td>
                                        <td>{{ suscriptor.nombre_apellido }}</td>
                                        <td>{{suscriptor.dni}}</td>
                                        <td>{{suscriptor.email}}</td>
                                        <td>{{suscriptor.fecha_inicio}}</td>
                                        <td>{{suscriptor.baja}}</td>
                                        
                                        
                                        
                                        
                                        <td>
                                            <!-- Botón para editar serie -->
                                            <a class="btn btn-primary" 
                                            href="/suscriptor/{{ suscriptor.id }}/editar/"
                                            >Editar</a>
                                            <!-- Botón para eliminar serie -->
                                            <a type="button" class="btn btn-danger"
                                            href="/suscriptor/{{ suscriptor.id }}/eliminar/"
                                                >Eliminar</button>
                                         </td>
 

                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                           
                        </div>
{% endblock%}