{% extends "administracion/base_admin.html" %}

{% block content%}

        <div id="app" class="table-results">
            <table class="table">
                <h2 class="text-center">Panel de administración</h2>
                
                <hr>
               
               
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <h4> Listado de Peliculas</h4>
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nombre pelicula</th>
                                        <th scope="col">Descripcion</th>
                                        <th scope="col">Categoria</th>
                                        <th scope="col">Portada</th>
                                        <th scope="col">Enlace</th>
                                        <th scope="col">Acciones</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Iterar sobre cada producto -->
                                    <tr >
                                        {% for pelicula in peliculas %}
                                        <td >{{ pelicula.id }}</td>
                                        <td>{{ pelicula.nombre }}</td>
                                        <td>{{pelicula.descripcion}}</td>
                                        <td>{{pelicula.categoria}}</td>
                                        <td>{{pelicula.portada}}</td>
                                        <td>{{pelicula.enlace}}</td>
                                        
                                        
                                        <td>
                                           <!-- Botón para editar peli -->
                                           <a class="btn btn-primary" 
                                           href="/pelicula/{{ pelicula.id }}/editar/"
                                           >Editar</a>
                                           <!-- Botón para eliminar peli -->
                                           <a type="button" class="btn btn-danger"
                                           href="/pelicula/{{ pelicula.id }}/eliminar/"
                                               >Eliminar</button>
                                        </td>

                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <button type="button" class="btn btn-success" style="margin-right:5px;" ><a href={% url "create_pelicula" %}>Añadir
                                nueva pelicula
                            </a></button> 
                            <button type="button" class="btn btn-success" ><a href="{% url "serie_crear" %}">Añadir
                                nueva serie
                            </a></button>
                        </div>
{% endblock%}