{% extends "administracion/base_admin.html" %}

{% block content%}

        <div id="app" class="table-results">
            <table class="table">
                <h2 class="text-center">Panel de administración</h2>
                
                <hr>


               
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <h4> Listado de Categorias</h4>
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nombre categoria</th>
                                        <th scope="col">Acciones</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Iterar sobre cada categoria -->
                                    <tr  {% for categoria in categorias %}>
                                        <td scope="row">{{ categoria.id }}</td>
                                        <td>{{ categoria.nombre_categoria }}</td>
                                        {% endfor %}
                                        <td>
                                            <!-- Botón para editar el producto -->
                                            <a class="btn btn-primary"
                                                :href="'producto-update.html?id='+ producto.id">Editar</a>
                                            <!-- Botón para eliminar el producto -->
                                            <button type="button" class="btn btn-danger"
                                                v-on:click="eliminar(producto.id)">Eliminar</button>
                                        </td>

                                        
                                    </tr>
                                </tbody>
                            </table>
                            <button type="button" class="btn btn-success" style="margin-right:5px;" ><a href={% url "create_categoria" %}>Añadir
                                nueva categoria
                            </a></button> 
                            
                        </div>
{% endblock%}