{% extends "administracion/base_admin.html" %}
{% block content%}
        <div id="app" class="table-results">
            <table class="table">
                <h2 class="text-center">Panel de administración</h2>
                <hr>
                <h4 class="text-left" style="padding:20px;"> Añadir un nuevo plan</h4>

                <form method="POST">
                    {% csrf_token %}

                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                      {{ message }} 
                      <p>Mensaje enviado el: {{ahora | date:'d/m/y'}}</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                    
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Grabar plan</button>
                </form>
                </div>
                </div>            
{% endblock%}