{% extends "base.html" %}

{% include 'header_image.html' %}

{% block content%}


<!-- ======= Contact Section ======= -->
<div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
      <div class="contact-overly"></div>
      <div class="container ">


        <div class="row">
          <!-- Start  contact -->
          <div class="col-md-12">
  
            <div class="section-headline text-Left">
              <h1>Confirmar eliminacion </h1>
              <p>¿Estás seguro de que deseas eliminar esta serie?</p>
                    <form method="post">
                    {% csrf_token %}
                    <input type="submit" value="Confirmar eliminacion">
                </form>
                <a href="{% url 'serie_lista' %}">Volver a la lista</a>
            </div>
          </div>
        </div>
      </div><!-- End Contact Section -->


{%endblock%}